.container
.navbar.navbar-default(role="navigation")
    .navbar-inner
        button.navbar-toggle.pull-left.animated.flip(type="button")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="/"): span WZMCC-WPP
        if typeof(user) !== 'undefined'
            .btn-group.pull-right
                button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                    i.glyphicon.glyphicon-user
                    span.hidden-sm.hidden-xs #{user.nickname}
                    //- span.hidden-sm.hidden-xs nickname
                    span.caret
                ul.dropdown-menu
                    li: a(href="#") 个人中心
                    li: a(href="/logout") 登出
            //- else
            //-     button.btn.btn-default.navbar-btn(type="button", href='/signin')
            //-         i.glyphicon.glyphicon-flash
            //-         span.hidden-sm.hidden-xs 登陆
            //-     button.btn.btn-default.navbar-btn(type="button", href="/signup")
            //-         i.glyphicon.glyphicon-pencil
            //-         span.hidden-sm.hidden-xs 注册
        //- if user
        if typeof(user) !== 'undefined'
            ul.collapse.navbar-collapse.nav.navbar-nav.top-menu
                li: a(href="/user/project/new")
                    i.glyphicon.glyphicon-edit
                    span 新建项目
                if user.role >= 50
                    li: a(href="#")
                        i.glyphicon.glyphicon-user
                        span 用户列表
