link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/libs/flatpickr/dist/flatpickr.min.css", rel="stylesheet")
//- link(href="/libs/fullcalendar/dist/fullcalendar.min.css", rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
//- script(src="/libs/moment/moment.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/flatpickr/dist/flatpickr.min.js")
script(src="/libs/flatpickr/dist/l10n/zh.js")
//- script(src="/libs/fullcalendar/dist/fullcalendar.min.js")
//- script(src="/libs/fullcalendar/dist/locale/zh-cn.js")